.col-sm-1 {
  border: solid black 2px;
  height: 50px;
  width: 50px;
}
img{
  height:45px;
  width:inherit;
}

.red{
  background-color: red;
}

.gray{
  background-color:gray;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
